body{
 
    color: white;
    font-family: Gill Sans, sans-serif;
    background-color:blue;
}
#ok{
    width: 15%;
    height: 15%;
}
#buttonCOOL{
    width: 164px;
    height: 51px;
    background-image: url("PR.png");
    background-color: blue;
    border-color: blue;
}
